<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{> globalcss}} {{> globaljs}}
    <title>{{ coinName }} 종토방 - 코종방</title>
  </head>
  <body>
    {{> header}}
    <div class="d-flex">
      <div class="d-none d-md-block col-md-2"></div>
      <div class="col-12 col-md-8 coin-table mt-2">
        <h4 class="market-type">{{ coinName }}</h4>
        <table class="table market">
          <thead>
            <tr>
              <th scope="col">기준 통화</th>
              <th scope="col">현재 가격</th>
              <th scope="col">당일 최고가</th>
              <th scope="col">당일 최저가</th>
              <th scope="col">변동률</th>
            </tr>
          </thead>
          <tbody class="krw-market">
            {{#each coinInfo }}
            <tr>
              <th scope="row">{{ currency }}</th>
              <td>{{ trade_price }}</td>
              <td>{{ high_price }}</td>
              <td>{{ low_price }}</td>
              <td>
                {{#isGreater signed_change_rate 0}}
                <span style="color: red">{{ signed_change_rate }}%</span>
                {{else}}
                <span style="color: blue">{{ signed_change_rate }}%</span>
                {{/isGreater}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <div class="d-flex justify-content-between mt-2">
          <h4 class="discussion-room-title">종토방</h4>
          <div
            class="write-btn"
            data-coin-code="{{coinCode}}"
            data-coin-name="{{coinName}}"
          >
            글쓰기
          </div>
        </div>
        <div class="post-list">
          <table class="table posts">
            <thead>
              <tr>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
                <th scope="col">조회수</th>
                <th scope="col">추천</th>
              </tr>
            </thead>
            <tbody class="krw-market">
              {{#each posts }}
              <tr>
                <th scope="row">{{ title }}</th>
                <td>{{ content }}</td>
                <td>{{ timestamp }}</td>
                <td>{{ views }}</td>
                <td>{{ likes }}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        {{!--
        <div class="pagination d-flex justify-content-center mt-2">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {{#repeat paginationNum}}
              <li
                class="page-item {{#isEqual this ../page}} active {{/isEqual}} "
              >
                <a
                  class="page-link"
                  href="/market?currency={{../currency}}&page={{this}}"
                  >{{this}}</a
                >
              </li>
              {{/repeat}}
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        --}}
      </div>
      <div class="d-none d-md-block col-md-2"></div>
    </div>
    <script>
      $(function () {
        $('.write-btn').on('click', function () {
          const coinCode = $(this).data('coin-code');
          const coinName = $(this).data('coin-name');
          location.href = `/discussion-room/post?coinCode=${coinCode}&coinName=${coinName}`;
        });
      });
    </script>
  </body>
</html>
