<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{> globalcss }} {{> globaljs }}
    <style>
      .room-title {
        border-bottom: solid 2px #0d6efd;
      }

      .post-top {
        border-bottom: solid 2px #0d6efd;
      }

      .post-title {
        font-weight: bold;
        font-size: 18px;
      }

      .post-info {
        font-size: 13px;
      }

      .post-content {
        min-height: 200px;
      }

      .post-comment-top {
        border-bottom: solid 2px #0d6efd;
      }

      .post-comment-input {
        border-top: solid 2px #0d6efd;
        border-bottom: solid 2px #0d6efd;
        padding: 10px 0;
      }

      .vertical-divide {
        width: 1px;
        height: 15px;
        margin: 0 5px;
        background-color: #eee;
      }
    </style>
    <title>{{post.title}} - {{ post.coinName }} 종토방</title>
  </head>
  <body>
    {{> header }}
    <div class="d-flex">
      <div class="d-none d-md-block col-md-2"></div>
      <div class="col-12 col-md-8 mt-2">
        <div class="room-title py-2 px-1">
          <h3>{{post.coin_name}} 종토방</h3>
        </div>
        <div class="post-top mb-4 px-2">
          <div class="post-title mt-3 mb-1">
            <p>{{ post.title }}</p>
          </div>
          <div class="post-info d-flex justify-content-between mb-3">
            <div class="d-flex post-info align-items-center">
              <div class="post-user-name">
                <p>{{ post.user_name }}</p>
              </div>
              <div class="vertical-divide"></div>
              <div>
                <p>{{ post.timestamp }}</p>
              </div>
            </div>
            <div class="d-flex post-info">
              <div class="me-2">
                <p>조회 {{ post.views }}</p>
              </div>
              <div>
                <p>추천 {{ post.likes }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="post-content px-1">
          <p>{{ post.content }}</p>
        </div>
        <div class="post-comment-top px-1 py-2">
          <p>전체 댓글 {{post.replies.length}}개</p>
        </div>
        <div class="post-comment-contents">
          {{#each post.replies }}
          <div class="content d-flex">
            <div class="col-12 col-md-2">{{user_name}}</div>
            <div class="col-12 col-md-8">{{content}}</div>
            <div class="col-12 col-md-2">{{timestamp}}</div>
          </div>
          {{/each}}
        </div>
        <div class="post-comment-input mt-2 px-1">
          <form action=""></form>
          <div class="d-flex align-items-center user-info flex-wrap">
            <div class="d-flex align-items-center mb-1">
              <p style="font-size: 13px; white-space: nowrap; width: 91.85px">
                닉네임 (1~10자)
              </p>
              <div class="input-nickname ms-1 me-3">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  placeholder="익명"
                  aria-label="닉네임"
                  maxlength="10"
                  id="userName"
                  name="userName"
                />
              </div>
            </div>
            <div class="d-flex align-items-center mb-1">
              <p style="font-size: 13px; white-space: nowrap">
                비밀번호 (1~6자)
              </p>
              <div class="input-nickname ms-1">
                <input
                  class="form-control form-control-sm"
                  type="password"
                  aria-label="비밀번호"
                  maxlength="6"
                  name="password"
                  id="password"
                />
              </div>
            </div>
          </div>
          <div class="content-container mt-2">
            <textarea
              class="form-control"
              placeholder="댓글"
              style="height: 100px; resize: none"
              maxlength="500"
              name="content"
              id="content"
            ></textarea>
          </div>
          <div class="d-flex justify-content-end mt-1">
            <div class="btn btn-primary btn-sm">등록</div>
          </div>
        </div>
      </div>
      <div class="d-none d-md-block col-md-2"></div>
    </div>
  </body>
</html>
