<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{> globalcss}} {{> globaljs}}
    <style>
      .post-list-header {
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 13px;
      }
      .post-list-header div {
        text-align: center;
      }

      .post-content {
        text-align: center;
      }

      .post-row {
        border-top: solid 1px #eee;
        padding: 5px 0;
      }

      .post-title {
        padding: 0 5px;
      }

      .post-number {
        font-size: 13px;
      }

      .post-user-name,
      .post-title {
        font-size: 13px;
      }

      @media (max-width: 768px) {
        .post-list-header {
          font-size: 11px;
        }

        .post-number {
          font-size: 10px;
        }

        .post-user-name,
        .post-title {
          font-size: 10px;
        }
      }
    </style>
    <title>{{ coinName }} 종토방 - 코종방</title>
  </head>
  <body>
    {{> header}}
    <div class="d-flex">
      <div class="d-none d-md-block col-md-2"></div>
      <div class="col-12 col-md-8 coin-table mt-2">
        <h4 class="market-type">{{ coinName }}</h4>
        <table class="table market">
          <thead>
            <tr>
              <th scope="col">기준 통화</th>
              <th scope="col">현재 가격</th>
              <th scope="col">당일 최고가</th>
              <th scope="col">당일 최저가</th>
              <th scope="col">변동률</th>
            </tr>
          </thead>
          <tbody class="krw-market">
            {{#each coinInfo }}
            <tr>
              <th scope="row">{{ currency }}</th>
              <td>{{ trade_price }}</td>
              <td>{{ high_price }}</td>
              <td>{{ low_price }}</td>
              <td>
                {{#isGreater signed_change_rate 0}}
                <span style="color: red">{{ signed_change_rate }}%</span>
                {{else}}
                <span style="color: blue">{{ signed_change_rate }}%</span>
                {{/isGreater}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <div
          class="d-flex justify-content-between mt-3"
          style="border-bottom: solid 1px #eee; padding: 3px 0"
        >
          <h4 class="discussion-room-title">종토방</h4>
          <div
            class="write-btn"
            data-coin-code="{{coinCode}}"
            data-coin-name="{{coinName}}"
          >
            글쓰기
          </div>
        </div>
        <div class="post-list">
          <div class="post-list-header d-flex">
            <div class="col-1">글번호</div>
            <div class="col-5">제목</div>
            <div class="col-2">작성자</div>
            <div class="col-2">작성일</div>
            <div class="col-1">조회수</div>
            <div class="col-1">추천</div>
          </div>
          {{#each posts }}
          <div class="post-row d-flex">
            <div class="col-1 post-content post-number">{{id}}</div>
            <div class="col-5 post-title">{{title}}</div>
            <div class="col-2 post-content post-user-name">{{userName}}</div>
            <div class="col-2 post-content post-number">{{date}}</div>
            <div class="col-1 post-content post-number">{{views}}</div>
            <div class="col-1 post-content post-number">{{likes}}</div>
          </div>
          {{/each}}
        </div>
        {{!--
        <div class="pagination d-flex justify-content-center mt-2">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {{#repeat paginationNum}}
              <li
                class="page-item {{#isEqual this ../page}} active {{/isEqual}} "
              >
                <a
                  class="page-link"
                  href="/market?currency={{../currency}}&page={{this}}"
                  >{{this}}</a
                >
              </li>
              {{/repeat}}
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        --}}
      </div>
      <div class="d-none d-md-block col-md-2"></div>
    </div>
    <script>
      $(function () {
        $('.write-btn').on('click', function () {
          const coinCode = $(this).data('coin-code');
          const coinName = $(this).data('coin-name');
          location.href = `/discussion-room/post?coinCode=${coinCode}&coinName=${coinName}`;
        });
      });
    </script>
  </body>
</html>
